body {
  margin: 0;
  padding: 0;
  background-color: greenyellow;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.map{
  display: flex;
  flex-wrap: wrap;
 

}

.Card{
  display: block;
  width: 15rem;
  margin: 20;
  margin-left: auto;
  margin-right: auto;
   

}










