body {
  margin: 0;
  padding: 10px;
 
   
}

/*body{
   background-image: url(./assets/img/background.jpg);
}*/

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.map{
  display: flex;
  padding-top: 2m;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
 
}

.text{
  color: red;
 }

 .CardImg {
  width:230px ;
  height:280px ;
  border-radius: 30px;
} 


.Card {
  width: 15rem;
  height: auto;
  margin: auto;
  transition: all 400ms ease;
  background: transparent ; 
  border-radius: 20px;
  border-color: aliceblue;
  font-size: .8rem ;
  display: flex;
  flex-direction: column;    
  justify-content: center;
  
}












