body {
  margin: 0;
  padding: 0;
  background-color: greenyellow;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.map{
  display: flex;
  padding-top: 2m;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
 
}

.Card{
  display: block;
  width: 15rem;
  margin: auto;
  height: auto;
  border-radius: 5px;
  padding: auto;
  
}


.text{
  color: red;
 }












